<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathsemilio.hiraganalearner">

    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_hiragana_learner_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hiragana_learner_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings_activity_label"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>